*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
}

body{
    background: black;
    color: white;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,.7)),url(images/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.logo{
    width: 150px;
    cursor: pointer;
}

nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: white;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.language{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.language img{
    width: 18px;
    margin-left: 10px;
}

.heading{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    font-size: 30px;
    margin-top: 70px;
}

.heading h3,p,form{
    margin-top: 10px;
    font-size: 15px;
}

.email-signup input,button{
    background: white;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 5px 5px;
    color: rgb(0, 0, 0);
}

.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 0px;
    margin-top: 50px;
}

.text-col{
    font-size: 20px;
    position: relative;
    top: 200px;
    left: 30px;
    flex-basis: 50%;
    margin-left: 20px;
}

.img-col img{
    display: block;
    width: 90%;
}

.faq{
    padding: 10px 12%;  
}

.faq h2{
    font-weight: 600;
    font-size: 30px;
    margin-top: 50px;
}

.questions{
    margin-top: 40px;
}

.accordion{
    width: 100%;
    list-style: none;
}
.accordion li{
    list-style:none;
    width: 100%;
    padding: 5px;
}

.accordion li label{
    display: flex;
    cursor: pointer;
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    padding: 20px;
}

label::after{
    position:absolute;
    right: 20px;
}

input[type="radio"]{
    display: none;
}

.accordion .content{
    background: rgb(255, 255, 255);
    color: #000000;
    font-weight: 500;
    font-size: 30px;
    overflow: hidden;
    transition: max-height .5s,padding .5s;
    padding: 20px;
}

.accordion input[type="radio"]:checked + label + .content{
    max-height:600px;
    padding:30px 20px;
}